<div class="value">
  <div class="value__text">
    <div class="value__text__header">
      <h1>Take back ownership of your data</h1>
      <div class="value__text__header__subheader">
        <div class="value__text__header__subheader__block">
          Veles helps you
          <span class="value__text__header__subheader__block--bold"
            >protect your digital identity</span
          >
          and gives you the ability to verifiably sign your online content, so
          that people know it actually comes from you and is not a deep fake.
        </div>

        <div class="value__text__header__subheader__block">
          Veles wallet is your
          <span class="value__text__header__subheader__block--bold"
            >self-sovereign</span
          >
          tool which gives you full ownership of your cryptographic keys and
          total control over who and how can access your data.
        </div>

        <div class="value__text__header__subheader__block">
          With Veles you can
          <span class="value__text__header__subheader__block--bold"
            >aggregate, control and analyze</span
          >
          your personal data.
        </div>
      </div>
      <span class="value__text__header__spacer"></span>
    </div>
  </div>
  <div class="value__pics">
    <div class="value__pics__front">
      <img
        class="value__pics__front__img"
        src="assets/screen_credentials.png"
      />
    </div>
    <div class="value__pics__back">
      <img class="value__pics__back__img" src="assets/screen_request.png" />
    </div>
  </div>
</div>
