<div class="identity">
  <div class="identity__header">
    <h1>Decentralized identity</h1>
  </div>

  <div class="identity__content">
    <div class="identity__content__block">
      <mat-icon
        class="identity__content__block__icon"
        aria-hidden="false"
        fontSet="material-icons-outlined"
        >fingerprint_outlined</mat-icon
      >

      <h3>Decentralized IDs</h3>
      <div class="identity__content__block__text">
        Veles ID uses Bitcoin blockchain to ensure security and immutability of
        your high-value operations, like identity creation. While routine
        identity resolutions use off-chain Mainline DHT.
      </div>
    </div>

    <div class="identity__content__block">
      <mat-icon
        class="identity__content__block__icon"
        aria-hidden="false"
        fontSet="material-icons-outlined"
        >description_outlined</mat-icon
      >

      <h3>Verifiable Credentials</h3>
      <div class="identity__content__block__text">
        On top of DIDs you can issue all types of cryptographically verifiable
        credentials.
      </div>
    </div>

    <div class="identity__content__block">
      <mat-icon
        class="identity__content__block__icon material-icons-outlined"
        aria-hidden="false"
        >dns_outlined</mat-icon
      >

      <h3>Decentralized storage</h3>
      <div class="identity__content__block__text">
        Decentralized Web Node architecture automatically synchronizes your
        encrypted data between remote locations. Decentralized identity wallet
        gives you next-level data persistence and security.
      </div>
    </div>
  </div>
</div>
